/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* color palette */
  --clr-pink: #e02b57;
  --clr-white: #fdfdfd;
  --clr-light-grey: #757680;
  --clr-black: #2f2f33;
}

:root {
  --font-family: 'Montserrat', sans-serif;

  --clr-background: var(--clr-white);
  --clr-text-primary: var(--clr-black);
  --clr-text-secondary: var(--clr-light-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: var(--clr-black);
    --clr-text-primary: var(--clr-white);
    --clr-text-secondary: var(--clr-light-grey);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.6;
  color: var(--clr-text-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--clr-background);
  transition: color 0.5s, background-color 0.5s;
}

main{
  margin: 5% 0 0 0;
}

@media screen {
  body{
    max-width: 80%;
    margin: auto;
  }
}